# Folders with large files
images/
predictions/

# Python cache
__pycache__/

# Python virtual environment
inferencing_venv/

# Model files
model_files/*.pth 
model_files/*.pt
model_files/*.pkl
model_files/*.engine
model_files/*.onnx

# Log files
logs/*.log

# Model probabilities
probabilities/